<div class="wrapper">
    <h1 class="header">Клиенты</h1>
    <app-table #table (onEditClient)="openModalEditClient($event, '0ms', 'oms')" [clients]="clients$" class="table">
        <app-icon-button iconName="plus-icon" [svgString]="getPlusSVG()" [disabled]="false" class="button-plus" (click)="openModalAddClient('0ms', '0ms')"> </app-icon-button>
        <app-icon-button iconName="trash-icon" [svgString]="getTrashSVG()" [disabled]="false" (click)="openModalDeleteClients('0ms', '0ms')"> </app-icon-button>
    </app-table>
</div>