//Text
$text: #263238;
$text-header-primary: #2F7FD5;
$text-header-modal: #231F20;
$text-table-column-header: #2F4C97;


//Buttons
$button-primary-text: #FFFFFF;
$button-primary-background-default: #2F67D5;
$button-primary-background-hover: #3C7CF8;
$button-primary-background-pressed: #194EB6;
$button-primary-background-disabled: #D8DEE9;

$button-secondary-text: #2F67D5;
$button-secondary-background-default: #FFFFFF;
$button-secondary-background-hover: rgba(60, 124, 248, 0.1);
$button-secondary-background-pressed: rgba(25, 78,  182, 0.2);


//Inputs
$input-text-active: #1A2124;
$input-text-default: #BBC5C9;

$input-outfit-default: #BBC5C9;
$input-outfit-active: #2F7FD5;
$input-outfit-filled: #505662;
$input-outfit-error: #DA1B1B;


//Icons
$icon-color-default: #304879;
$icon-color-disable: #A8B0BF;

$icon-background-hover: #E2EEFF;
$icon-background-click: #B5D3FF;

//Table
$table-header-color: #2F4C97;


//Fonts
$font-button-size: 16px;
$font-text-size: 18px;

$font-input-text-size: 16px;
$font-input-hint-size: 12px;

$font-header-primary-size: 28px;
$font-header-modal-size: 24px;

$font-table-column-header-size: 12px;
$font-table-text-size: 14px;

$font-family: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;