@use'./variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: variables.$font-family; background-color: lightblue;}
.mdc-dialog__surface {
    border-radius: 20px !important;
  }