@use '../../../../styles/variables';

button {
    height: 53px !important;
    border-radius: 37px;
    font-size: variables.$font-button-size;
    font-weight: 400;
    padding: 0px 20px;
}

.primary {
    background-color: variables.$button-primary-background-default !important; 
    color: variables.$button-primary-text !important;

    &:hover {
        background-color: variables.$button-primary-background-hover !important; 
    }

    &:active {
        background-color: variables.$button-primary-background-pressed !important; 
    }

    &:disabled {
        background-color: variables.$button-primary-background-disabled !important;
    }
}

.secondary {
    background-color: variables.$button-secondary-background-default !important; 
    color: variables.$button-secondary-text !important;
    box-shadow: none !important;

    &:hover {
        background-color: variables.$button-secondary-background-hover !important; 
    }

    &:active {
        background-color: variables.$button-secondary-background-pressed !important; 
    }
} 


.mat-mdc-form-field {
    width: 100% !important;
}